form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input, textarea, p-button {
    width: 100%;
    margin-bottom: 15px; 
}

textarea {
    min-height: 100px;
    resize: vertical;
}

p-button {
    display: flex;
    justify-content: center;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.obligatoireLabel {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
}

